h1{
    font-family: "Cormorant Garamond", serif;
}

h2{
    font-size: 5rem;
}


a{
    color: white;
    font-weight: lighter;
}
.component{    
    background-image: url('./assets/paperbg.jpg');
    background-size: cover;
    min-height: 40rem;
    
}

.salon-page{
    min-height: 60rem;
    margin-left: 10%;
    
}

