h1{
    font-family: "Cormorant Garamond", serif;
}



a{
    color: white;
    font-weight: lighter;
}
.component{    
    background-image: url('./assets/paperbg.jpg');
    background-size: cover;
}

.salon-page{
    margin-left: 10%;
    min-height: 60rem;
}

